/* Moniles */

* {
  box-sizing: border-box;
}

.title {
  font-size: 20px;
}

.description {
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  align-items: center;
}

.question {
  cursor: pointer;
  background-color: rgb(235, 234, 232);
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.question-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  width: 100%;
  align-items: center;
}

.difficulty {
  padding: 5px 8px;
  border-radius: 5px;
  background-color: rgb(183, 182, 182);
  font-weight: bold;
  font-size: 14px;
  width: fit-content;
}

.editor-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  justify-items: center;
  align-items: center;
}

.editor-wrapper {
  width: 100%;
}

.editor {
  border: 2px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.execute-btn,
.hint-btn,
.back-btn,
.close-panel-btn {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
}

.execute-btn {
  background-color: orangered;
}

.hint-btn {
  background-color: green;
}

.back-btn,
.close-panel-btn {
  background-color: gray;
}

.table-display {
  width: 100%;
  overflow-x: auto;
  border-collapse: collapse;
  margin-top: 30px;
}

.hint-panel {
  width: 100%;
  height: 50%;
  padding: 15px;
  background-color: rgba(183, 182, 182, 0.9);
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

/* Tablets */

@media (min-width: 641px) {
  .question {
    width: 90%;
    padding: 20px;
  }

  .button-container {
    flex-direction: row;
    justify-content: center;
  }

  .execute-btn,
  .hint-btn {
    width: auto;
    padding: 10px 20px;
  }

  .hint-panel {
    width: 400px;
    height: 400px;
    left: 10px;
    bottom: 10px;
  }
}

/* Laptops */

@media (min-width: 1024px) {
  .question {
    width: 70%;
  }

  .title {
    font-size: 25px;
  }

  .description {
    font-size: 20px;
  }

  .editor-wrapper {
    width: 700px;
  }

  .question-list {
    gap: 40px;
  }

  .container {
    gap: 40px;
  }

  .hint-panel {
    left: 20px;
    bottom: 20px;
  }
}

/* Desktops */

@media (min-width: 1281px) {
  .question {
    width: 60%;
  }

  .editor-wrapper {
    width: 800px;
  }

  .container {
    max-width: 1200px;
    margin: auto;
  }
}
